h2 {
	font-size: 35pt;
	text-align: center;
	color:white;
}

.me {
	position:relative;
	margin-top: -55px;
}

.pic{
	display: inline-block;
	width:100%;
}

.pic img {
	width:100%;
	border-bottom: 3px solid rgb(136,160,220);
}

.blurb{
	position:absolute;
	right:30px;
	top:70px;
	width:50%;
	background: rgba(255,255,255,0.8)
}

.blurb p{
	width:400px;
	margin:0 auto 20px;
}
.blurb h2 {
	color: rgb(136,160,220);
	margin:15px 0 15px 0;
}

.small img {
	display:block;
	border-radius: 50%;
	width:150px;
	margin:50px auto -80px;
	border:3px solid rgb(136,160,220);

}
.pictop {
	padding-top: 70px;
	padding-bottom: 30px;
	background: rgb(255,255,255);
	border-top: 3px solid rgb(136,160,220);
	border-bottom: 3px solid rgb(136,160,220);
}

.block1 p {
	width:90%;
	margin: 0 auto;
}
.block1 h4 {
	margin-top: 20px;

}
.subheader {
	text-align: center;
}

@media only screen and (min-device-width: 1px) and (max-device-width: 667px) and (orientation : portrait){

	body{
		background:none;
	}
	.blurb.responsive{
	width:100%;
	top:98%;
	right:auto;
	left:auto;
	background:rgba(0,0,0,0.8);
	}
	.blurb.responsive p{
		display:none;
	}
	.blurb.responsive h2{
		font-size: 52pt;
	}
	.small {
	display:none;
	}
	.block1.pictop {
	border-top:0;
	border-bottom:0;
	margin-top:60px;
	}
	
	.subheader {
	display: block;
	margin: 0 auto;
	width:80%;
	font-size:32pt;
	}
	.pic img{
	width:100%;
	border-bottom: none;
	}

}
